@tailwind base;
@tailwind components;
@tailwind utilities;

.badgeCard:hover .details-div {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease, visibility 1s ease;
}

.details-div {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 1s ease;
}

/* Alert page CSS */
.alert-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert {
  max-width: 600px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ffcc00;
  background-color: #fff8e1;
  color: #d32f2f;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.alert h2 {
  margin: 0 0 10px;
  font-size: 20px;
}

.warning-details {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}

.close-button {
  cursor: pointer;
  color: #d32f2f;
}




/* projects */

.el {
  width: 100%;

  height: 100%;

  top: 0;

  position: absolute;

  display: flex;

  align-items: center;

  justify-content: center;

  .imageContainer {
    position: relative;

    width: 25vw;

    img {
      object-fit: cover;
    }
  }

  &:nth-of-type(2) {
    .imageContainer {
      top: -20vh;

      left: 18vw;

      width: 7vw;
    }
  }

  &:nth-of-type(3) {
    .imageContainer {
      top: -24vh;

      left: 4vw;

      width: 12vw;
    }
  }

  &:nth-of-type(4){

      .imageContainer{

          top: 3vh;

          left: -18vw;

          width: 7vw;


      }

  }

  &:nth-of-type(5){

      .imageContainer{

          top: -17vh;

          left: -27vw;

          width: 7vw;


      }

  }

  &:nth-of-type(6){

      .imageContainer{

          top: 8vh;

          left: 23vw;

          width: 17vw;

      }

  }

  &:nth-of-type(7){

      .imageContainer{

          top: -13vh;

          left: 30vw;

          width: 12vw;

      }

  }
  &:nth-of-type(8){

    .imageContainer{

        top: 9vh;

        left: -30vw;

        width: 14vw;

    }

}
&:nth-of-type(9){

  .imageContainer{

      top: -24vh;

      left: -12vw;

      width: 14vw;

  }

}
}


/* GallerySection */


.greyscale-image {
  filter: grayscale(100%);
  transition: filter 0.5s ease, transform 0.5s ease;
}

.greyscale-image:hover {
  filter: none;
  transform: scale(1.05);
}


/* Contact Page */


.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}